/* Created by: Julien Lamoureux
* Created on: May 2023
* This CSS file defines the style for index.html
* Assign-05-HTML-StarTriangleFlipped
*/

body {
  background-color: #ebfff8;
}

h3 {
  background-color: #a3fff4;
  padding: 40px;
  text-align: center;
}

p {
  color: #000;
}



#content {
    text-align: right;
    float: right;
    position: relative;
    right: 50%;
}

#program-feedback {
    float: right;
    position: relative;
    right: -50%;
}